.modal-overlay {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
  }
  
  .modal-box {
    display: block;
    background: white;
    width: 60%;
    height: 70%;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }